html{
}

body {
  /*background: url() no-repeat;*/
  /*background-color:black;*/
  background:url(http://i1301.photobucket.com/albums/ag119/jabattack1/clouds_zpsjupnhatn.jpg) repeat-y center top;
  background-size: 1260px;
  background-repeat: repeat-y;
	width:1260px;
  	height: 4500px;
  	margin: 0 auto;
  position:relative;
  overflow:auto;
}
}

#page-wrap {
  font-family: Georgia, serif;
  /*background-position: center;*/
  background-attachment:scroll;
  /*overflow-x: hidden;*/
  	margin: 0 auto;
     /*width: 900px;*/
     /*margin: 0 auto;*/
}


#start {
	position:absolute;
	margin-top:250px;
}


#stuff {
	position:absolute;
	margin-top:450px;
}

#logobox {
	position:absolute;
	border: black;
 	border-style:solid;
 	border-width:4px;
 	border-radius:5px;
	z-index: -2;
	width: 280px;
	height: 150px;
	background-color:white;
	margin-top:20px;
	margin-left:40px;
	z-index:5;
}

#boro {
	position: absolute;
	width:550px;
}

#logo {
	position: absolute;
	width:225px;
	margin-left:25px;
	margin-top:10px;
}

#cleaners {
	position: absolute;
	width:400px;
	margin-top:-40px;
	margin-left:40px;
}

#birds {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 500px;
}


#plane {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 500px;

}

#sun {
	position:absolute;
	/*margin-top:-100px;*/
  	left: 985px;
  	width:240px;
  	top:-30px;
}

@keyframes birds {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(1920px,0);
  }
}

@keyframes plane {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(1920px,0);
  }
}

#balloon {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    height:230px;
    width:140px;
    margin-left:1000px;
    margin-top:430px;
}

#greenshirt1 {
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 4s infinite  alternate;
    height:70px;
    width:60px;
    margin-left:200px;
    margin-top:-290px;
    position:absolute;
}

#greypants1 {
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 4s infinite  alternate;
    height:190px;
    width:100px;
    margin-left:200px;
    margin-top:70px;
    position:absolute;
}

#balloon2 {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    height:170px;
    width:170px;
    margin-left:510px;
    margin-top:320px;
}
#balloon3 {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    height:150px;
    width:160px;
    margin-left:900px;
    margin-top:0px;
    position:absolute;
}

#balloon4 {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    height:150px;
    width:160px;
    margin-left:200px;
    margin-top:700px;
    position:absolute;
}

#balloon5 {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    height:150px;
    width:160px;
    margin-left:20px;
    margin-top:1700px;
    position:absolute;
}

#balloon6 {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    height:50px;
    width:40px;
    margin-left:450px;
    margin-top:2300px;
    position:absolute;
}

#bluejeans {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;
    height:50px;
    width:30px;
    margin-left:540px;
    margin-top:200px;
    position:absolute;
}

#bluejeans2 {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;
    height:50px;
    width:60px;
    margin-left:840px;
    margin-top:750px;
    position:absolute;
}

#bluejeans3 {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;
    height:150px;
    width:100px;
    margin-left:40px;
    margin-top:1100px;
    position:absolute;
}

#bluejeans4 {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;
    height:20px;
    width:15px;
    margin-left:600px;
    margin-top:2350px;
    position:absolute;
}

#bluejeans5 {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;
    height:120px;
    width:100px;
    margin-left:200px;
    margin-top:2150px;
    position:absolute;
}

#greenblouse {
    -webkit-animation: mover 2.5s infinite  alternate;
    animation: mover 2.5s infinite  alternate;
    height:150px;
    width:130px;
    margin-left:30px;
    margin-top:450px;
    position:absolute;
}

#greenblouse2 {
    -webkit-animation: mover 2.5s infinite  alternate;
    animation: mover 2.5s infinite  alternate;
    height:150px;
    width:100px;
    margin-left:400px;
    margin-top:950px;
    position:absolute;
}

#greenblouse3 {
    -webkit-animation: mover 2.5s infinite  alternate;
    animation: mover 2.5s infinite  alternate;
    height:150px;
    width:130px;
    margin-left:600px;
    margin-top:1350px;
    position:absolute;
}

#greenblouse4 {
    -webkit-animation: mover 2.5s infinite  alternate;
    animation: mover 2.5s infinite  alternate;
    height:50px;
    width:30px;
    margin-left:400px;
    margin-top:1650px;
    position:absolute;
}

#greenblouse5 {
    -webkit-animation: mover 2.5s infinite  alternate;
    animation: mover 2.5s infinite  alternate;
    height:190px;
    width:130px;
    margin-left:1000px;
    margin-top:2050px;
    position:absolute;
}


#greysheet {
    -webkit-animation: mover 2.7s infinite  alternate;
    animation: mover 2.7s infinite  alternate;
    height:180px;
    width:150px;
    margin-left:900px;
    margin-top:490px;
    position:absolute;
}

#greysheet2 {
    -webkit-animation: mover 2.7s infinite  alternate;
    animation: mover 2.7s infinite  alternate;
    height:180px;
    width:220px;
    margin-left:400px;
    margin-top:1960px;
    position:absolute;
}

#greysheet3 {
    -webkit-animation: mover 2.7s infinite  alternate;
    animation: mover 2.7s infinite  alternate;
    height:180px;
    width:220px;
    margin-left:800px;
    margin-top:860px;
    position:absolute;
}

#redshirt {
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 4s infinite  alternate;
    height:70px;
    width:40px;
    margin-left:200px;
    margin-top:100px;
    position:absolute;
}

#redshirt2 {
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 4s infinite  alternate;
    height:270px;
    width:180px;
    margin-left:200px;
    margin-top:1300px;
    position:absolute;
}

#redshirt3 {
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 4s infinite  alternate;
    height:200px;
    width:130px;
    margin-left:900px;
    margin-top:1400px;
    position:absolute;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


#top_banner {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:270px;
	margin-left:0px;
	z-index:5;
	width:100%;
	height:30px;
	/*background-color:rgba(0,0,0,0.3);*/
	/*border-style: solid;
	border-color:white;
	border-width:2px;*/
}

#laundry {
	position:absolute;
	margin-top:300px;
	margin-left:0px;
	width:100%;
}

#laundrypic {
	position:absolute;
	width:100%;
}

#kite {
	position:absolute;
	margin-top:1100px;
}

#kitepic {
	position:absolute;
	margin-left:1020px;
	height:300px;
	width:200px;
	-webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

#year {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:590px;
	margin-left:20%;
	z-index:5;
	width:800px;
	font-size:20px;
}

#servant{
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:590px;
	margin-left:240px;
	z-index:5;
	width:750px;
}

#address {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:165px;
	margin-left:40px;
	z-index:5;
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

#address1 {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:120px;
	margin-left:10px;
	z-index:5;
	width:200px;
	font-size: 19px;
	color:black;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

#addy1{
	position: absolute;
	margin-top:100px;
	margin-left:687px;
	width:400px;
}

#phone2{
	position: absolute;
	margin-top:130px;
	margin-left:787px;
	width:300px;
}

#schedule {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:210px;
	margin-left:727px;
	z-index:5;
	width:300px;
	font-size: 17px;
	color:black;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

#time1 {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:210px;
	margin-left:900px;
	z-index:5;
	width:200px;
	font-size: 17px;
	color:black;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}


#explanation {
	position:absolute;
	margin-top:120px;
	margin-left:60px;
	z-index:5;
	width:1050px;
	font-size: 17px;
	color:black;
	text-align: center;
}


#mapcircle {
	position:absolute;
    overflow:hidden;
    margin-left:100px;
    margin-top:10px;
	width: 450px;
    height: 400px;
   /* border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-top-radius: 10%;
    border-bottom-bottom-radius: 10%;*/
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    -khtml-border-radius: 20%;
    border-radius: 50%;
    -o-border-radius:50%;
    /*background: #4679BD;*/
    border-style:solid;
    border-color:black;
    border-width:2px;
}


#phone {
	position:absolute;
	margin-top:-14px;
	margin-left:85px;
	z-index:5;
}

#phone1{
	margin-top:-20px;
}

#services_anchor {
	position:absolute;
	text-decoration: none;
	margin-left:28%;
	font-size:30px;
	color:black;
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/

	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

#services_anchor:hover {
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#about_anchor {
	position:absolute;
	text-decoration: none;
	margin-left:63%;
	font-size:30px;
	color:black;
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

#about_anchor:hover {
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#contact_anchor {
	position:absolute;
	text-decoration: none;
	margin-left:43%;
	font-size:30px;
	color:black;
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

#contact_anchor:hover {
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#services {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:1050px;
	margin-left:40px;
	/*width:900px;*/
}

#servicesheading {
	position:absolute;
	width:205px;
	/*border-style: solid;
	border-color:black;
	border-radius:5px;
	background-color:white;
	padding-left:5px;*/
}

#servicestop {
	position:absolute;
	margin-top:43px;
	margin-left:250px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:200px;
}

#servicestop:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#servicesabout {
	position:absolute;
	margin-top:43px;
	margin-left:405px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:200px;
}

#servicesabout:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#servicescontact {
	position:absolute;
	margin-top:43px;
	margin-left:315px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:90px;
}

#servicescontact:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#row1 {
	position:absolute;
	margin-top:180px;
	margin-left:10px;
	font-size:20px;
	width:450px;
	z-index:2;
}

#row2 {
	position:absolute;
	margin-top:180px;
	margin-left:490px;
	font-size:20px;
	width:450px;
	z-index:2;
}

#row3 {
	position:absolute;
	margin-top:180px;
	margin-left:830px;
	font-size:20px;
	width:380px;
	z-index:2;
}


#about {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:4550px;
	margin-left:40px;
	/*width:900px;*/
}

#aboutheading {
	position:absolute;
	width:148px;
	/*border-style: solid;
	border-color:black;
	border-radius:5px;
	background-color:white;
	padding-left:5px;*/
}

#abouttop {
	position:absolute;
	margin-top:43px;
	margin-left:250px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:200px;
}

#abouttop:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#aboutservices {
	position:absolute;
	margin-top:43px;
	margin-left:325px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:200px;
}

#aboutservices:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#aboutcontact {
	position:absolute;
	margin-top:43px;
	margin-left:405px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:200px;
}

#aboutcontact:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#contact {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:2050px;
	margin-left:40px;
	/*width:1800px;*/
}

#contactheading {
	position:absolute;
	width:175px;
	/*padding-left:4px;
	border-style: solid;
	border-color:black;
	border-radius:5px;
	background-color:white;*/
}

#contacttop {
	position:absolute;
	margin-top:43px;
	margin-left:250px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:200px;
}

#contacttop:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#contactservices {
	position:absolute;
	margin-top:43px;
	margin-left:325px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:200px;
}

#contactservices:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#contactabout {
	position:absolute;
	margin-top:43px;
	margin-left:405px;
	text-decoration: none;
	color:black;
	font-size: 15px;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	width:200px;
}

#contactabout:hover{
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#house {
	position:absolute;
	margin-top:4790px;
	width:100%;
	/*background-color: black;*/
}
#onhill {
	position:absolute;
	/*margin-top:4700px;*/
	width:100%;
}

#smoke {
	position:absolute;
	/*margin-top:4700px;*/
	width:200px;
	margin-left:790px;
	margin-top:-100px;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#cloudsolo {
	position:absolute;
	/*margin-top:4700px;*/
	width:150px;
	margin-left:1100px;
	margin-top:-200px;
}

#cloudsolo1 {
	position:absolute;
	/*margin-top:4700px;*/
	width:150px;
	margin-left:950px;
	margin-top: 0px;
}

#treealone {
	position:absolute;
	/*margin-top:4700px;*/
	width:400px;
	margin-left:890px;
	margin-top:-25px;
	overflow:hidden;
}

#treealone1 {
	position:absolute;
	/*margin-top:4700px;*/
	width:250px;
	margin-left:490px;
	margin-top:100px;
	overflow:hidden;
}

#treealone2 {
	position:absolute;
	/*margin-top:4700px;*/
	width:200px;
	margin-left:0px;
	margin-top:150px;
	overflow:hidden;
}


}
#tree {
	position:absolute;
	/*margin-top:11%;*/
	margin-left:100px;
	height:270px;
	width: 350px;
}

#rights {
	font-family: 'Arvo', Georgia, Times, serif;
	color: #FFFFFF;
	margin-left: 0px;
	margin-top: 5160px;
	position: absolute;
	
	height: 20px; 
    width: 1150px; 
	/*border-style: solid;*/
    /*background-color:rgba(0,0,0,0.5);*/
    /*border-radius: 5px 5px 5px 5px;*/
}

#copyright {
	font-family: 'Arvo', Georgia, Times, serif;
	color: black;
	margin-left: 100px;
	margin-top: 2px;
	position: absolute;
	font-size: 12px;
}

#cred{
	font-family: 'Arvo', Georgia, Times, serif;
	color: black;
	margin-left: 945px;
	margin-top: 2px;
	position: absolute;
	font-size: 12px;
}